local-address= {{ dns_recursor_pdns_config_local_address }}
local-port= {{ dns_recursor_pdns_config_local_port }}
allow-from= {{ dns_recursor_pdns_config_local_address }}
hint-file= {{ dns_recursor_pdns_root_hints_file }}
